.app-header {
    align-items: center;
    background: #dcdcdc;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #dcdcdc;
}

.app-header__logo {
    background:#00BFFF; 
    height: 45px;
    width: 100px;
    border-radius: 90px;
}